<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login for Form 1</h3>
            <form  #loginForm="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" required value=""
                        [(ngModel)]="login.email" name="email" #email="ngModel"/>
                </div>
                <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
                    Name is required
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" required value=""
                        [(ngModel)]="login.password" name="pwd" #pwd="ngModel" />
                </div>
                <div *ngIf="!pwd.valid && pwd.touched" class="alert alert-danger">
                    Password is required
                </div>
                <div class="alert alert-danger" *ngIf="errorMesg">{{errorMesg}}</div>
                <!-- <div class="alert alert-succes" *ngIf="errorMesg">{{errorMesg}}</div> -->
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" (click)="onSubmitLogin()" [disabled]="!loginForm.form.valid"/>
                </div>
            </form>
        </div>
    </div>
</div>