<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
    <h3 class="h3">shopping Demo</h3>
    <div class="row ">
        <div class="row col-md-3 col-sm-6"><button type="button" class="btn btn-light"
                (click)="onClickViewOrders()">View
                Your Orders</button></div>
        <div class="row col-md-3 col-sm-6"><button type="button" class="btn btn-success"
                (click)="onClickRunThread()">Run Node Thread</button></div>
        <div class="row col-md-3 col-sm-6"><button type="button" class="btn btn-info"
                (click)="onClickRunPyScript()">Run Python Script</button></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let product of productsInfo">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="{{product.img}}">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-2.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">${{product.offer}}%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="#">{{product.name}}</a></h3>
                    <div class="price">${{product.price}}
                        <span>${{product.offer}}%</span>
                    </div>
                    <a class="add-to-cart" href="javascript:void(0)" (click)="onClickAddToCart(product)">+ Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" *ngIf="showTable">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <th>{{order.orderdate}}</th>
                <td>{{order.name}}</td>
                <td>{{order.price}}</td>
            </tr>
        </tbody>
    </table>
</div>